// COLORS
$primary-blue: #445770;
$primary-pink: #f09b95;
$link-red: #8b443a;
$menu-blue: #91abf2;

$gutter-vertical: 2%;
$gutter-horizontal: 5%;
$gutter-horizontal-large: 15%;
$gutter-vertical-large: 10%;


// PADDING
$in-element-padding: 5%;
