.contact {
  height: 20%;
  background-color: white;
  margin: $gutter-horizontal $gutter-vertical;
  padding: 2.5%;
  position: relative;
  z-index: 10;

  &__form {

    @include respond(770) {
      margin-top: 2%;
    }
    width: 100%;
    margin-top: 5%;
    height: 60%;

    &--input {
      margin-right: $gutter-vertical;
      border: solid black 2px;
    }
  }
}

.message-section {
  margin-top: $gutter-horizontal;
  height: 100%;
  &--text {
    @include respond(501) {
      width: 75%;
    }
    @include respond(phone) {
      margin-right: 5%;
    }
    height: 100%;
    width: 80%;
    margin-right: $gutter-vertical-large;
    border: solid black 2px;
  }
  &--button {
    @include respond(501) {
      width: 10%;
      height: 11%;
    }
    @include respond(phone) {
      width: 10%;
    }
    width: 8%;
    height: 9%;
    margin-bottom: 5%;
  }
}
