.hero-section {
  width: 100%;
  height: 20%;
  background-color: white;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
 padding-top: 5%;

 @include respond(501) {
  height: 25%;
 }
}

.hero-name{
  display:flex;
  margin: 0% 0vw 0% 30vw; 

  @include respond(1270) {
    margin: 0% 0vw 0% 20vw; 
  }

  @include respond(770) {
    margin: 0% 0vw 0% 10vw; 
  }

  @include respond(670) {
    margin: 0% 0vw 0% 20vw; 
  }
}

.first-name {
  @include respond(1440) {
    top: 77%;
  }

  @include respond(1270) {
    left: 29%;
    bottom: -9%;
  }
  @include respond(1025) {
    left: 29%;
    bottom: 0%;
  }

  @include respond(770) {
    left: 27%;
    bottom: -5%;
  }

  @include respond(501) {
    top: 212px;
    left: 15%;
  }

margin-right: 2.5%;

}

// .last-name {
//   @include respond(1440) {
//     top: 14%;
//   }
//   @include respond(501) {
//     top: 10%;
//     left: 28%;
//   }
//   @include respond(phoneSlim) {
//     left: 32%;
//     top: 2%;
//   }

  
// }

.hero-menu {
  @include respond(1440) {
    top: 29%;
  }

  @include respond(1270) {
    top: 29%;
    left: 40%;
  }

  @include respond(770) {
    top: 35%;
    left: 35%;
  }

  @include respond(670) {
    left: 40%;
  }

  @include respond(501) {
    top: 35%;
    left: 38%;
  }

  @include respond(401) {
    top: 35%;
    left: 34%;
  }

  position: absolute;
  top: 20%;
  left: 38%;
}

.hero-menu-long{
visibility: hidden;

@include respond(1270) {
  visibility: visible;
  display: flex;
  flex-direction: row;
   }
}
