.work {
  height: 20%;
  background-color: white;
  margin: $gutter-horizontal $gutter-vertical;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;
}

.work-list {
  padding-top: $gutter-vertical;
  width: 25%;
  text-align: center;
  margin-right:1.5%;
}

.body-link {
margin-top: 0%;
}

.details {
  width: 75%;
  display: flex;
  flex-direction: row;
  &--photo {
    height: 90%;
    width: 70%;
    margin: 2.5%;
  }

  &__info {
    text-align: center;
    height: 90%;
    width: 70%;
    margin: 2.5%;
    
    &--button {
      @include respond(501){
        font-size: 20%;
      }
      @include respond(670) {
        width: 100%;
      }
      @include respond(phoneSlim) {
        width: 100%;
        margin-top:8%;
      }
      width: 80%; 
      height: 8%;
    }

  }
}

.stack {
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  @include respond(iPad) {
    margin-bottom: 20%;
    }

  &--stack {
    margin-bottom: 2%;
  }

  &--image {
    margin: 5% 0% 5% 35%;
    height: 20%;
    width: 30%;
  }
}
