#home-page-div {
  background-color: rgb(9, 0, 85);
  font-family: RoboMono-Regular;
  height: 100vh;
  padding-top: 20vh;
}

#titled-header {
  margin-left: 15vw;
  font-size: 2em;
}

#const-title {
  color: rgb(122, 0, 179);
  margin: 0px;
}

#name-title {
  color: rgb(255, 255, 0);
  margin: 0vh 0vw 0vh 5vw;
  font-size: 3.2em;
}

#programmer-title{
  margin: 0vh 0vw 0vh 17vw;
}

#new{
  color: rgb(9, 71, 188);
}

.method{
  color:rgb(122, 0, 179);
}

.parenthesis {
  color: rgb(255, 255, 0);
}