/*
0-600px: phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200-1800] is where our normal styles apply

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
html {
  font-size: 61%; }

@media only screen and (max-width: 1140px) {
  font-size: 55%; }

@media only screen and (max-width: 1025px) {
  font-size: 50%; }

@media only screen and (max-width: 770px) {
  font-size: 45%; }

@media only screen and (max-width: 670px) {
  font-size: 40%; }

@media only screen and (max-width: 501px) {
  font-size: 26%; }

@media only screen and (max-width: 25em) {
  font-size: 27%; }

body {
  margin: 0px; }

.App {
  height: 390vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f09b95;
  background-image: url(".../../images/backgroundShape.svg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }
  @media only screen and (max-width: 1461px) {
    .App {
      height: 375vh; } }
  @media only screen and (max-width: 1270px) {
    .App {
      height: 350vh; } }
  @media only screen and (max-width: 1140px) {
    .App {
      height: 310vh; } }
  @media only screen and (max-width: 770px) {
    .App {
      height: 260vh;
      width: 116%; } }
  @media only screen and (max-width: 670px) {
    .App {
      height: 235vh;
      width: 125%; } }
  @media only screen and (max-width: 501px) {
    .App {
      height: 240vh;
      width: 145%; } }
  @media only screen and (max-width: 401px) {
    .App {
      height: 235vh;
      width: 160%; } }

.heading-primary {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #445770;
  font-size: 10rem;
  margin: 0%;
  line-height: 12rem; }
  @media only screen and (max-width: 670px) {
    .heading-primary {
      font-size: 8rem; } }
  @media only screen and (max-width: 401px) {
    .heading-primary {
      font-size: 7rem; } }

.heading-secondary {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #8b443a;
  font-size: 7rem;
  line-height: 1rem;
  margin: 0%;
  text-decoration: none; }
  @media only screen and (max-width: 1270px) {
    .heading-secondary {
      font-size: 5rem; } }
  @media only screen and (max-width: 770px) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 670px) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 401px) {
    .heading-secondary {
      font-size: 4rem; } }

.menu-header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 2.5rem;
  margin: 0px; }

.body-link {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  color: #8b443a; }
  @media only screen and (max-width: 770px) {
    .body-link {
      font-size: 2rem; } }

.button-link {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #8b443a;
  line-height: 0.1rem;
  margin: 1%; }
  @media only screen and (max-width: 770px) {
    .button-link {
      font-size: 1rem; } }

.body-header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #f09b95;
  font-size: 6.5rem;
  margin: 0px;
  line-height: 5rem; }
  @media only screen and (max-width: 770px) {
    .body-header {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 501px) {
    .body-header {
      font-size: 3.5rem; } }

.body-text {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: black;
  word-wrap: word-break;
  font-size: 3rem;
  margin: 0; }
  @media only screen and (max-width: 770px) {
    .body-text {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 670px) {
    .body-text {
      font-size: 2rem; } }

.hero-section {
  width: 100%;
  height: 20%;
  background-color: white;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  padding-top: 5%; }
  @media only screen and (max-width: 501px) {
    .hero-section {
      height: 25%; } }

.hero-name {
  display: flex;
  margin: 0% 0vw 0% 30vw; }
  @media only screen and (max-width: 1270px) {
    .hero-name {
      margin: 0% 0vw 0% 20vw; } }
  @media only screen and (max-width: 770px) {
    .hero-name {
      margin: 0% 0vw 0% 10vw; } }
  @media only screen and (max-width: 670px) {
    .hero-name {
      margin: 0% 0vw 0% 20vw; } }

.first-name {
  margin-right: 2.5%; }
  @media only screen and (max-width: 1461px) {
    .first-name {
      top: 77%; } }
  @media only screen and (max-width: 1270px) {
    .first-name {
      left: 29%;
      bottom: -9%; } }
  @media only screen and (max-width: 1025px) {
    .first-name {
      left: 29%;
      bottom: 0%; } }
  @media only screen and (max-width: 770px) {
    .first-name {
      left: 27%;
      bottom: -5%; } }
  @media only screen and (max-width: 501px) {
    .first-name {
      top: 212px;
      left: 15%; } }

.hero-menu {
  position: absolute;
  top: 20%;
  left: 38%; }
  @media only screen and (max-width: 1461px) {
    .hero-menu {
      top: 29%; } }
  @media only screen and (max-width: 1270px) {
    .hero-menu {
      top: 29%;
      left: 40%; } }
  @media only screen and (max-width: 770px) {
    .hero-menu {
      top: 35%;
      left: 35%; } }
  @media only screen and (max-width: 670px) {
    .hero-menu {
      left: 40%; } }
  @media only screen and (max-width: 501px) {
    .hero-menu {
      top: 35%;
      left: 38%; } }
  @media only screen and (max-width: 401px) {
    .hero-menu {
      top: 35%;
      left: 34%; } }

.hero-menu-long {
  visibility: hidden; }
  @media only screen and (max-width: 1270px) {
    .hero-menu-long {
      visibility: visible;
      display: flex;
      flex-direction: row; } }

.about {
  height: 20%;
  background-color: white;
  margin: 5% 2%;
  padding: 2%;
  position: relative;
  z-index: 10; }
  .about--text {
    margin-top: 2%;
    padding: 1.5%; }
    @media only screen and (max-width: 1270px) {
      .about--text {
        margin-top: 0%; } }

.skills {
  display: flex;
  flex-direction: row;
  margin-top: 5%; }
  @media only screen and (max-width: 1270px) {
    .skills {
      margin-top: 0%; } }
  @media only screen and (max-width: 25em) {
    .skills {
      margin-top: 1%; } }
  .skills--header {
    margin-top: 2%; }
  .skills__list {
    width: 80%;
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    margin-left: 2.5%;
    height: 100%; }
    .skills__list--logo {
      width: 10%;
      height: 200%;
      margin: 0% 1.5%; }

.contact {
  height: 20%;
  background-color: white;
  margin: 5% 2%;
  padding: 2.5%;
  position: relative;
  z-index: 10; }
  .contact__form {
    width: 100%;
    margin-top: 5%;
    height: 60%; }
    @media only screen and (max-width: 770px) {
      .contact__form {
        margin-top: 2%; } }
    .contact__form--input {
      margin-right: 2%;
      border: solid black 2px; }

.message-section {
  margin-top: 5%;
  height: 100%; }
  .message-section--text {
    height: 100%;
    width: 80%;
    margin-right: 10%;
    border: solid black 2px; }
    @media only screen and (max-width: 501px) {
      .message-section--text {
        width: 75%; } }
  .message-section--button {
    width: 8%;
    height: 9%;
    margin-bottom: 5%; }
    @media only screen and (max-width: 501px) {
      .message-section--button {
        width: 10%;
        height: 11%; } }

.work {
  height: 20%;
  background-color: white;
  margin: 5% 2%;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10; }

.work-list {
  padding-top: 2%;
  width: 25%;
  text-align: center;
  margin-right: 1.5%; }

.body-link {
  margin-top: 0%; }

.details {
  width: 75%;
  display: flex;
  flex-direction: row; }
  .details--photo {
    height: 90%;
    width: 70%;
    margin: 2.5%; }
  .details__info {
    text-align: center;
    height: 90%;
    width: 70%;
    margin: 2.5%; }
    .details__info--button {
      width: 80%;
      height: 8%; }
      @media only screen and (max-width: 501px) {
        .details__info--button {
          font-size: 20%; } }
      @media only screen and (max-width: 670px) {
        .details__info--button {
          width: 100%; } }
      @media only screen and (max-width: 25em) {
        .details__info--button {
          width: 100%;
          margin-top: 8%; } }

.stack {
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow: scroll; }
  .stack--stack {
    margin-bottom: 2%; }
  .stack--image {
    margin: 5% 0% 5% 35%;
    height: 20%;
    width: 30%; }

.menu {
  background-color: #91abf2;
  text-align: center;
  position: fixed;
  padding: .2%;
  width: 100%;
  z-index: 1000; }
  .menu__links {
    display: flex;
    flex-direction: column; }
    .menu__links--item {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      color: white;
      font-size: 2rem;
      margin: 0px;
      text-decoration: none; }
